@media (max-width: 1699.98px) {
    .container {
        width: 1150px;
    }
    .catalog-intro {
        height: 550px;
    }
    .intro-button {
        bottom: 35%;
    }
    .searchbox {
        right: unset;
        left: calc(100vw - 50vw);
        top: 5px;
    }
    .searchbox input {
        padding: .2rem .3rem;
        border: 1px solid #ababab;
        background-color: #f8f8f8;
        border-radius: 8px;
    }
    .items {
        padding: 0 30px;
    }
    .lookbook__list {
        gap: 0;
    }
    .lookbook__item {
        padding-right: 0.25rem;
        text-align: left;
    }
}

@media (max-width: 1199.98px) {
    .container {
        width: 900px;
    }

    .logo,
    .searchbox,
    .navbar__navigation {
        display: flex;
        justify-content: center;
        position: relative;
    }

    .navbar {
        flex-direction: column;
    }

    .logo {
        left: 0;
    }

    .navbar__list {
        margin-top: 1.5em;
        margin-bottom: 0.5em;
    }

    .searchbox {
        top: 0;
        left: 0;
        right: 0;
        margin-bottom: 20px;
    }

    .searchbox button {
        position: relative;
        margin-left: -30px;
    }

    .banner {
        height: 300px;
        padding: 70px 0;
    }

    .register .button {
        padding: 20px;
    }

    .items__header {
        padding-left: 2rem;
    }

    .items-list {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
        padding: 0 2em;
    }

    .shop-item:nth-of-type(3) {
        grid-area: 2 / 1 / 3 / 2;
    }

    .shop-item:nth-of-type(4) {
        grid-area: 2 / 2 / 3 / 3;
    }

    .lookbook__list {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3,1fr);
    }

    .lookbook__list img {
        padding-right: 4rem;
        padding-left: 5rem;
    }

    .lookbook__list p {
        padding-right: 5rem;
    }

    .lookbook__list .button {
        margin-top: 5rem;
        margin-left: 10rem;
    }

    .product-top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .specification {
        margin-top: 10px;
        display: flex;
        width: 90%;
    }

    .footerinfo {
        grid-template-columns: repeat(5, 170px);
        grid-template-rows: repeat(1, auto);
    }
}

@media (max-width: 991.98px) {
    .container {
        width: 100%;
    }
    .catalog-intro {
        height: 400px;
    }
    .intro-button {
        bottom: 50%;
        right: 5%;
    }
    .banner__title {
        font-size: 40px;
    }

    .banner__subtitle {
        font-size: 24px;
    }

    .tabs__link {
        font-size: 12px;
    }
    .footerinfo {
        grid-template-columns: repeat(3, 170px);
        grid-template-rows: repeat(2, auto);
        padding-right: 6em;
        padding-left: 6em;
    }
    .banner-award {
        font-size: 30px;
    }
}

@media (max-width: 767.98px) {
    .catalog-intro {
        height: 340px;
    }
    .intro-button {
        bottom: 57%;
        right: 1%;
        font-size: 11px;
    }
    .navbar__navigation {
        display: flex;
        justify-content: center;
        flex-direction: row;
        position: relative;
    }
    .banner {
        height: 230px;
        padding: 50px 0;
    }

    .banner__title,
    .banner__subtitle {
        letter-spacing: 3px;
    }

    .banner__title {
        margin-bottom: 25px;
    }

    .banner__subtitle {
        font-size: 20px;
    }

    .content__title {
        font-size: 16px;
    }

    .content__subtitle {
        font-size: 11px;
    }

    .content__caption {
        font-size: 13px;
    }
    .registration-forms {
        flex-wrap: wrap;
    }
    .sign-in {
        width: 100%;
        border-right: none;
    }
    .sign-up {
        width: 100%;
    }

    .items__header {
        display: none;
    }

    .items__header-adaptive {
        display: flex;
    }

    .items__header-select {
        margin: 0 1rem;
    }

    .items-list {
        padding: 0 1rem;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(6,1fr);
    }

    .shop-item:nth-of-type(3) {
        grid-area: 3 / 1 / 4 / 2;
    }

    .shop-item:nth-of-type(4) {
        grid-area: 4 / 1 / 5 / 2;
    }

    .lookbook__list .button {
        margin-top: 1rem;
        margin-left: 0;
    }
    .select {
        width: 135px;
    }
    .tabs__nav {
        display: flex;
        flex-direction: column;
    }
    .tab-selected {
        width: 100%;
    }
    .footerinfo {
        padding-right: 0;
        padding-left: 0;
    }

    .footerinfo-item:nth-of-type(5) {
        grid-area: 2 / 2 / 3 / 4;
    }

    .copyright .container {
        flex-direction: column;
    }

    .footer__copyright {
        display: flex;
        justify-content: center;
    }

    .footer__design {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer__span {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 575.98px) {
    .container {
        padding: 0;
    }
    .currency__label {
        display: none;
    }

    .currency__select {
        font-size: 15px;
        font-weight: 700;
    }

    .catalog-intro {
        height: 200px;
    }

    .intro-button {
        display: none;
    }

    .registration,
    .shopcart {
        display: none;
    }

    .adaptive-topbar {
        display: flex;
    }

    .navbar {
        flex-direction: unset;
        justify-content: space-between;
    }

    .navbar__burger.open-menu + .navbar__list {
        display: block;
    }

    .navbar__list {
        display: none;
        position: absolute;
        top: 40px;
        background: rgb(245,246,246);
        box-shadow: #ccc;
        width: 100vw;
        box-shadow: 0 4px 2px -2px rgba(36,36,36,0.17);
    }

    .navbar__item br {
        display: none;
    }
      
    .navbar__item i {
        margin-left: 3px;
    }

    .navbar__item {
        margin: 40px 0 40px 33px;
        font-size: 14px;
    }

    .searchbox {
        position: absolute;
        top: 16px;
        right: calc(100vw - 95vw);
    }

    .searchbox input {
        width: calc(100vw - 70vw + 20px);
    }

    .navbar__navigation {
        justify-content: flex-end;
        height: 100%;
    }

    .navbar__burger {
        display: block;
    }

    .navbar__burger-catalog {
        display: block;
    }

    .dropdown {
        width: 100vw;
    }

    .dropdown-inner {
        display: flex;
        flex-direction: column;
    }

    .dropdown__title {
        font-size: 15px;
    }

    .dropdown-menu__link {
        line-height: 30px;
        font-size: 14px;
    }

    .dropdown-menu + .dropdown-menu {
        margin: 0;
    }      

    .dropdown__discount {
        display: none;
    }

    .logo {
        justify-content: left;
        margin: 20px 15px;
        font-size: 22px;
    }

    .banner {
        height: 190px;
        padding: 30px 0;
    }

    .banner__title {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .banner__subtitle {
        font-size: 15px;
    }

    .content {
        flex-wrap: wrap;
    }

    .content__column {
        width: 100%;
    }

    .form__group-link {
        width: 100%;
        margin: 15px 0;
    }
    .form__group-button {
        flex-wrap: wrap;
    }

    .items {
        padding-bottom: 0;
    }

    .register .button {
        padding: 10px;
        letter-spacing: 0;
        word-spacing: 0;
    }

    .items-list {
        padding: 0 1rem;
    }

    .lookbook__item {
        display: flex;
        flex-direction: column;
    }

    .lookbook__desc {
        padding-left: 2rem;
    }

    .lookbook__list img {
        display: none;
    }

    .lookbook__list h3 {
        margin-top: 1rem;
    }

    .lookbook__list p {
        padding-right: 3rem;
    }

    .lookbook__list .button {
        margin-top: 1rem;
        margin-left: 0;
    }

    .gallery {
        width: 310px;
    }

    .select__size {
        margin: 0;
    }

    .specification {
        margin-left: -20px;
    }

    .select-block {
        display: flex;
        flex-direction: column;
    }

    .footerinfo {
        justify-content: center;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(5, auto);
    }

    .footerinfo-item:nth-of-type(5) {
        grid-area: 5 / 1 / 6 / 2;
    }

    .footerinfo h4 {
        display: flex;
        justify-content: center;
        font-size: 15px;
    }

    .footerinfo-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-transform: uppercase;
    }

    .footerinfo-list li {
        display: flex;
        justify-content: center;
    }

    .infobanner {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(2, auto);
    }
}

@media (max-width: 319.98px) {
    .banner {
        padding: 45px 0;
    }
    .banner__title,
    .banner__subtitle {
        letter-spacing: 0;
    }

    .banner__title {
        font-size: 32px;
    }

    .banner__subtitle {
        font-size: 16px;
    }

}
