@media (max-width: 1199.98px) {
    .container {
        width: 900px;
    }
    .logo,
    /* .searchbox, */
    /* .searchbox button, */
    .navbar__navigation {
        display: flex;
        justify-content: center;
        position: relative;
    }
    .navbar {
        flex-direction:column;
    }
    .logo {
        left: 0;
    }
    .searchbox {
        left: 50;
        right: 50;
        margin-bottom: 2em;
    }
    .banner {
        height: 300px;
        padding: 70px 0;
    }
    .footerinfo {
        grid-template-columns: repeat(5, 170px);
        grid-template-rows: repeat(1, auto); 
    }
}

@media (max-width: 991.98px) {
    .container {
        width: 100%;
    }
    .banner__title {
        font-size: 40px;
    }
    .banner__subtitle {
        font-size: 24px;
    }
    .footerinfo {
        grid-template-columns: repeat(3, 170px);
        grid-template-rows: repeat(2, auto);
        padding-right: 6em;
        padding-left: 6em;
    }
    /* .footerinfo-list:nth-of-type(5) {
        grid-area: 2 / 2 / 3 / 4;
    } */
}

@media (max-width: 767.98px) {
    .banner__title,
    .banner__subtitle {
        letter-spacing: 3px;
    }
    .footerinfo {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (max-width: 575.98px) {

    .banner__title {
        font-size: 35px;
    }
    .banner__subtitle {
        font-size: 18px;
    }
}

@media (max-width: 319.98px) {
    .banner {
        padding: 140px 0;
    }
    .banner__title,
    .banner__subtitle {
        letter-spacing: 0;
    }
    .banner__title {
        font-size: 32px;
    }
    .banner__subtitle {
        font-size: 16px;
    }
}












/*======================*/
/*======== ABOUT========*/
/*======================*/

/*

@media (max-width: 770px) {
    .content__title {
        font-size: 16px;
    }
    .content__subtitle {
        font-size: 11px;
    }
    .content__caption {
        font-size: 13px;
    }
}

@media (max-width: 575px) {
    .content {
        flex-wrap: wrap;
    }
    .content__column {
        width: 100%;
    }
}

@media (max-width: 770px) {
    .registration-forms {
        flex-wrap: wrap;
    }
}*/

/*
@media (max-width: 770px) {
    .sign-in {
        width: 100%;
        border-right: none;
    }
}

@media (max-width: 770px) {
    .sign-up {
        width: 100%;
    }
}

@media (max-width: 430px) {
    .form__group-link {
        width: 100%;
        margin: 15px 0;
    }
    .form__group-button {
        flex-wrap: wrap;
    }
}

@media (max-width: 1200px) {
    .register .button {
        padding: 20px;
    }
}

@media (max-width: 470px) {
    .register .button {
        padding: 10px;
        letter-spacing: 0;
        word-spacing: 0;
    }
} */
